<h1> Search articles by tags: </h1> 
	<% @tags.each do |tag| %> 
		<li> <%= link_to tag.name, tag_path(tag) %>  </li> 
		<p> <%= link_to "Delete", tag_path(tag), method: :delete %> <p> </br>
	<% end %> 